.dashboard {
  background: #f8f8f8;
  width: 100%;
  height: 100vh;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
  background: #fff;
  height: 56px;
}

.nav-left {
  display: flex;
  display: flex;
  align-items: center;
  gap: 10px;
}

.dashboard-logo {
  width: 219px;
  height: 56px;
  background: #47af5b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-logo img {
  width: 102px;
  height: 41px;
}

.search-container {
  width: 239px;
  height: 34px;
  background: #f8f8f8;
  border-radius: 206px 202px 203px 209px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  gap: 10px;
}

.search-container img {
  width: 14px;
}

.search-container input {
  border: none;
  outline: none;
  background: #f8f8f8;
}

.login-text p {
  color: #47af5b;
  font-size: 14px;
  margin: 0;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-pic img {
  width: 34px;
}
