.category {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px 11px;
  border-radius: 21px;
  width: 115px;
  height: 14px;
  background: #515151;
  margin-right: 10px;
  color: white;
}

.heading-container {
  margin-top: 42px;
  display: flex;
}

.community-div {
  margin-top: 47px;
  display: flex;
}

.heading-communties {
  line-height: 12px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  text-decoration: underline;
}

.community-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.community-widget {
  background: #fff;
  display: flex;
  width: 636px;
  height: 170px;
  border-radius: 20px;
}

.community-image {
  width: 35%;
  height: 100%;
}

.community-image img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.community-text {
  width: 65%;
  padding: 15px 19px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.community-title p {
  font-size: 14px;
  color: black;
  margin: 0;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
}

.first-text {
  display: flex;
  gap: 10px;
}

.first-text p {
  font-size: 14px;
  color: black;
  margin: 0;
}

.green-text {
  display: flex;
  justify-content: space-between;
  line-height: 17px;
}

h3 {
  width: 108px;
  color: #47af5b;
  font-weight: bold;
}

.star-rating {
  color: #47af5b;
}

.read-more {
  display: flex;
  align-items: end;
}

.read-more p {
  color: black;
  font-size: 9px;
  text-align: left;
  line-height: 12px;
  margin: 0;
}

.join {
  background: #2c99e8;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  height: 20px;
  padding: 15px 47px;
  border-radius: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}
