.signup-body {
  display: flex;
  justify-content: center;
}

.spacing {
  margin-top: 1rem;
}

.wrapper {
  width: 388px;
  height: 48.5px;
  background: #fff;
  border-radius: 49px;
  display: flex;
  justify-content: space-around;
}

input {
  outline: none;
  border: none;
}

img {
  width: 18px;
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
